[Desktop Entry]
Exec=konsole %i %m -caption "%c" -ls
Icon=konsole
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
