[Desktop Entry]
Name=Xcall
Comment=Xcall Packet Radio Terminal
Exec=xcall
Icon=/usr/share/xcall/pixmaps/xcall.png
Terminal=false
MultipleArgs=false
Type=Application
