conf:
   ONE /etc/ax25/fbb/bbs.sys
   ONE /etc/ax25/fbb/cron.sys
   ONE /etc/ax25/fbb/forward.sys
   ONE /etc/ax25/fbb/lang/deutsch.hlp
   ONE /etc/ax25/fbb/lang/deutsch.txt
   ONE /etc/ax25/fbb/lang/english.ent.sample
   ONE /etc/ax25/fbb/lang/english.hlp
   ONE /etc/ax25/fbb/lang/english.inf
   ONE /etc/ax25/fbb/lang/english.txt
   ONE /etc/ax25/fbb/lang/espagnol.hlp
   ONE /etc/ax25/fbb/lang/espagnol.txt
   ONE /etc/ax25/fbb/lang/francais.ent.sample
   ONE /etc/ax25/fbb/lang/francais.hlp
   ONE /etc/ax25/fbb/lang/francais.inf
   ONE /etc/ax25/fbb/lang/francais.txt
   ONE /etc/ax25/fbb/lang/italiano.hlp
   ONE /etc/ax25/fbb/lang/italiano.txt
   ONE /etc/ax25/fbb/lang/nederlan.ent
   ONE /etc/ax25/fbb/lang/nederlan.hlp
   ONE /etc/ax25/fbb/lang/nederlan.txt
       /etc/ax25/fbb/langue.sys
   ONE /etc/ax25/fbb/passwd.sys
   ONE /etc/ax25/fbb/protect.sys
   ONE /etc/ax25/fbb/redist.sys
   ONE /etc/ax25/fbb/reject.sys
   ONE /etc/ax25/fbb/swapp.sys
   ONE /etc/ax25/fbb/themes.sys
:conf
